<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Employee Management System</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <style>
      .main-container {
        position: relative;
        height: calc(100vh - 56px);
        overflow: hidden;
      }

      .btn-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }

      .main-container > img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    </style>
  </head>

  <body>
    
    {% include "navbar.html" %}
    <div class="container-fluid g-0">
      <div class="row g-0">
        <div class="main-container col">
          <img
            src="/media/images/Employee_standing 1.jpg"
            class="img-fluid"
            alt="..."
          />
          
          <div class="btn-wrapper row g-0 mt-4 mb-4">
            <div class="col-xl-3 text-center mb-4">
                <a class="btn btn-dark btn-lg" 
                {% if user.is_authenticated %} 
                href="/all_emp" 
                {%else %} 
                href="/accounts/login/" role="button"
                {%endif%}
                  >View All Employee</a
                >
            </div>
            <br />
            <div class="col-xl-3 text-center mb-4">
              <a class="btn btn-primary btn-lg" 
              {% if user.is_authenticated %} 
              href="/add_emp" 
              {%else %}
               href="/accounts/login/" role="button"
              {%endif%}
                >Add Employee</a>
            </div>
            <br />
            <div class="col-xl-3 text-center mb-4">
              <a class="btn btn-danger btn-lg" 
              {% if user.is_authenticated %} 
              href="/del_emp" 
              {%else %} 
              href="/accounts/login/" role="button" 
              {%endif%}
                >Delete Employee</a>
            </div>
            <br/>
            <div class="col-xl-3 text-center mb-4">
              <a class="btn btn-dark btn-lg" 
              {% if user.is_authenticated %} 
              href="/filter_emp" 
              {%else %} 
              href="/accounts/login/" role="button" 
              {%endif%}
                >Filter Employee</a>
            </div>
            <br/>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
